<div id="<%= dom_id entity %>">
  <p>
    <strong>Authorid:</strong>
    <%= entity.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= entity.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= entity.amount %>
  </p>

</div>
