/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  background: rgb(0, 22, 47);
  background: linear-gradient(0deg, rgba(0, 22, 47, 1) 0%, rgba(55, 120, 194, 1) 100%);
  width: 100.2vw;
  height: 100vh;
  overflow-x: hidden;
}

#landing {
  width: 100%;
  height: 100%;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing h1 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 4em;
}

#landing a {
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8em;
}

#nav a {
  margin-right: 3%;
  color: black;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

#groupIndex a {
  color: white;
  text-decoration: none;
}

#groupNew a {
  color: white;
  text-decoration: none;
}

#entitiesIndex a {
  color: white;
  text-decoration: none;
}

#signUp a {
  color: white;
  text-decoration: none;
}

#landing a:nth-child(4) {
  font-size: 1.3em;
}

#landing p {
  color: white;
  font-family: 'Poppins', sans-serif;
}

#nav {
  width: 100%;
  height: 10%;
  background-color: white;
  position: fixed;
  left: 0%;
  top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav h1 {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
}

#groupIndex img {
  width: 10%;
}

#groupPack {
  display: flex;
  justify-content: space-between;
}

#groupNew {
  color: white;
  text-decoration: none;
  margin-top: 10%;
}

#entitiesIndex {
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 20%;
}

#entitiesIndex td {
  font-size: 0.8em;
}

#signUp {
  margin-top: 20%;
  color: white;
  font-family: 'Poppins', sans-serif;
}
